@using Toilet2.Controllers;

@{
    ViewBag.Title = "About";
    var gereral_data = (QuickType.Item[])ViewData["Item"];
}
<!--
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
    -->
<!--<h1 style="text-align: center;"> Watchlist</h1>
<br>-->
<body>
    <section>
        <div class="container" style="margin-bottom:80px">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand">

                            <img src="~/images/Logo.png" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" @Html.ActionLink("Home", "Index", "Home")
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" @Html.ActionLink("About", "About", "Home")</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" @Html.ActionLink("Contact", "Contact", "Home")</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <table class="table" id="example">
        <thead class="thead-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Level</th>
                <th scope="col">Bathroom # </th>
                <th scope="col">Type</th>
                <th scope="col">Time</th>
                <th scope="col">Mac Address</th>
            </tr>
        </thead>
        <tbody>



            @{
                foreach (QuickType.Item data in gereral_data)
                {
                    <tr>
                        <th scope="row">@data.Disid</th>

                        <td>@data.Level</td>
                        <td>@data.Bathid</td>
                        <td>@data.Distype</td>
                        <td>@data.Update</td>
                        <td>@data.Addr</td>
                    </tr>
                }
            }

        </tbody>
    </table>






</body>

<!-- Output entire data as Json String -->
<!--  <h3> <b>http request example: </b> <br /> @ViewBag.Message</h3>  -->